/* -------------------------------------------------------------- Resets & Mixins */

@import "dummy_base/_mixins";
@import "dummy_base/_reset";

/* -------------------------------------------------------------- Variables */

/* Fonts */
$fontSans:Helvetica, sans-serif;
$fontSerif:Times New Roman, serif;

/* Colors */
$colorText:#666;
$colorBg:#fff;
$colorPrimary:#f00;
$colorSecondary:#f0f;
$colorTertiary:#0ff;

/* -------------------------------------------------------------- Wrappers */

/*
Container. Use this to define centered content, or uncommment the other variables to switch to a fluid layout. If you need to define an outer container for background color use, the naming scheme should be "wrap-(name)". An example would be .wrap-header or .wrap-menu.
*/

.container {
    width: 1224px;
    // width: 100%;
    // max-width: 1224px;
    margin: 0 auto;
    position: relative;

    img {
        // Prevents images in content areas from ever breaking their containers.
        width: auto;
        height: auto;
        max-width: 100%;
    }
}

/* Grid Items */

// Full width, if needed.
.g-1-1 {
    width: 100%;
    display: block;
}

// Half Width
.g-1-2 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

// Interior Half Width. This will break earlier than normal half width items, so it can be used inside other grid elements.
.gi-1-2 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

// One Third Width
.g-1-3 {
    width: 33.33333333%;
    display: inline-block;
    vertical-align: top;
}

// Two Thirds Width
.g-2-3 {
    width: 66.66666666%;
    display: inline-block;
    vertical-align: top;
}

// Quarter Width
.g-1-4 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

// Add more grid items as needed, but remember to use the same naming scheme.

/* -------------------------------------------------------------- Global */

// Basic body styles
body {
    width: 100%;
    height: 100%;
    background: $colorBg;
    color: $colorText;
    font: normal 400 20px/1.5em $fontSans;
    letter-spacing: 0.005em;

    // Modal class
    &.modal-body {
        overflow: hidden;
    }
}


// Basic link styles
a {
    color: $colorPrimary;
    text-decoration: none;
    outline: none;
    @include transition (color 0.25s linear);
}

a:hover, a:active {
    color: $colorSecondary;
}

/* -------------------------------------------------------------- Styles */

@import "dummy_base/_navigation";
@import "dummy_base/_page";
@import "dummy_base/_footer";
@import "dummy_base/_forms";

/* -------------------------------------------------------------- Elements */

@import "dummy_base/_elements_text";
@import "dummy_base/_elements_interactive";
@import "dummy_base/_elements_callouts";
@import "dummy_base/_elements_modules";

/* -------------------------------------------------------------- Responsive */

@import "dummy_base/_responsive";