/* -------------------------------------------------------------- Text Elements */

/* Select Colors */
::selection { background: rgba($colorPrimary,0.5); }
::-moz-selection { background: rgba($colorPrimary,0.5); }

/* Placeholder Colors */
::-webkit-input-placeholder { color: $colorText; }
:-moz-placeholder { color: $colorText; }
:-ms-input-placeholder { color: $colorText; }

/* Paragraph Styles */
p { margin-bottom: 1.5em; } p:last-child { margin-bottom: 0; }

/* Strip list styles */
ul, ol { margin: 0; padding: 0; list-style: none; }

/* Headings */
h1 {
  font: normal 700 3em/1.5em;
}

h2 {
  font: normal 700 2.4em/1.5em;
}

h3 {
  font: normal 700 1.6em/1.5em;
}

h4 {
  font: normal 700 1.2em/1.5em;
}