/* -------------------------------------------------------------- Notifications */
// Take these out if you don't need them.

.notify {
	&.success {

	}

	&.caution {

	}

	&.error {

	}
}

/* -------------------------------------------------------------- Buttons */
// You can use the btn class on all elements, including <button> <a> and <input>

.btn {
	display: inline-block;
	padding: 1em 1.5em;
	@include transition (all 0.25s linear);
	
	// Color Variants. Add or remove as needed.
	&.btn01 {
		background: rgba($colorPrimary, 0.8);
		color: #FFF;
		&:hover {
			background: rgba($colorPrimary, 1);
		}
	}

	&.btn02 {
		background: rgba($colorSecondary, 0.8);
		color: #FFF;
		&:hover {
			background: rgba($colorSecondary, 1);
		}
	}

	&.btn03 {
		background: rgba($colorTertiary, 0.8);
		color: #FFF;
		&:hover {
			background: rgba($colorTertiary, 1);
		}
	}
	
	// Size Variants. Add or remove as needed.
	&.sml {

	}

	&.med {
			
	}

	&.lrg {
			
	}
}

/* -------------------------------------------------------------- Dropdown List */

.dropdown {
	display: inline-block;
	padding: 1em 1.5em;
	position: relative;

	span {
		// Wrapper for the actual dropdown text.
		display: block;
		cursor: pointer;
	}

	&:after {
		// You can add arrow styles in here, if needed.
		content:"";
		position: absolute;
	}

	.dd-list {
		// Dropdown list
		width: 100%;
		position: absolute;
		top: 3em;
		left: 0;
		z-index: 50;
		display: none;

		a {
			display: block;
		}
	}
}

/* -------------------------------------------------------------- Full width video embeds */
// Be sure to wrap all Youtube or Vimeo embeds in a div.video.

.video {
	width: 100%;
	height: 0;
	padding: 30px 0 56.25%;
	margin-bottom: 1.5em; // you can remove this if the video won't be in a content area.
	position: relative;
	overflow: hidden;

	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/* -------------------------------------------------------------- Modal Overlay */
// You can remove this if you really don't need it.

.modal-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 1000;
	display: none;
	background: rgba(0,0,0, 0.9);
}

