/* -------------------------------------------------------------- Form Elements */
/*
These are the basic styles for all form elements. They
Should be used in conjunction with the grid classes to float
elements as needed
*/

.form {
	width: 100%;
	display: block;
	
	// Fields
	.field {
		position: relative;
		
		// Basic Text Field
		&.text {
			input {
				width: 100%;
				display: block;
				padding: 1em 1.5em;
				font-family: $fontSans;
				background: transparent;
				color: $colorText;
				@include transition (all 0.25s linear);

				&:focus {
					outline: none;
				}
			}
		}
		
		// Basic Textarea
		&.textarea {
			textarea {
				width: 100%;
				height: 4em;
				display: block;
				padding: 1em 1.5em;
				font-family: $fontSans;
				background: transparent;
				color: $colorText;
				@include transition (all 0.25s linear);

				&:focus {
					outline: none;
				}
			}
		}
		
		// Styled Checkboxes or Radio boxes
		&.check {
			position: relative;
			overflow: hidden;

			input {
				position: absolute;
				top: 0;
				left: -48px;
				visibility: hidden;
			}

			input+span {
				width: 100%;
				padding: 1em 1.5em;
				display: block;
				cursor: pointer;
				@include transition (all 0.25s linear);
			}

			&:hover input+span {

			}

			input:checked+span {
				background: $colorSecondary;
			}
		}

		// Fakie Select (made using radio elements)
		.select {
			display: inline-block;
			padding: 1em 1.5em;
			position: relative;

			> span {
				// Wrapper for the active select text.
				display: block;
				cursor: pointer;
			}

			.select-dd {
				width: 100%;
				position: absolute;
				top: 3em;
				left: 0;
				overflow: hidden;
				z-index: 50;
				display: none;

				.select-item {
					position: relative;
					overflow: hidden;

					input {
						position: absolute;
						top: 0;
						left: -48px;
						visibility: hidden;
					}

					input+span {
						width: 100%;
						padding: 1em 1.5em;
						display: block;
						cursor: pointer;
						@include transition (all 0.25s linear);
					}

					&:hover input+span {

					}

					input:checked+span {
						background: $colorSecondary;
					}
				}
			}
		}
		
		// Basic Submit
		&.submit {
			input {
			}
		}
		
		// Errors
		&.error {
			.form-error {
				position: absolute;
			}

			// If styling the actual form elements and not just the error box, add those here.
		}
	}
}