// ---- LEGACY IE SUPPORT USING FILTERS ----
//  Should IE filters be used or not?
//  PROS: gradients, drop shadows etc will be handled by css.
//  CONS: will harm the site performance badly,
//        especially on sites with heavy rendering and scripting.
$useIEFilters: 0;
// might be 0 or 1. disabled by default.
// ---- /LEGACY IE SUPPORT USING FILTERS ----

/* --------------------------------------------------- STRUCTURAL MIXINS */

// Including a box-sizing mixin in case it is needed to apply to <a> tags.
@mixin box-sizing($value) {
  -moz-box-sizing: $value;
  -webkit-box-sizing: $value;
  box-sizing: $value;
}

/* --------------------------------------------------- VISUAL MIXINS */

// Set background image size. "cover" will probably be the most frequently used and most useful.
@mixin background-size ($value) {
  -webkit-background-size: $value;
  background-size: $value;
}

// Border image
@mixin border-image ($path, $offsets, $repeats) {
  -moz-border-image: $path $offsets $repeats;
  -o-border-image: $path $offsets $repeats;
  -webkit-border-image: $path $offsets $repeats;
  border-image: $path $offsets $repeats;
}

// Border radius and background clip properties.
@mixin border-radius ($values) {
  -moz-border-radius: $values;
  -webkit-border-radius: $values;
  border-radius: $values;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

// Box shadow
@mixin box-shadow ($x, $ie: $useIEFilters) {
  -moz-box-shadow: $x;
  -webkit-box-shadow: $x;
  box-shadow: $x;

  @if $ie == 1 {
    $iecolor: '#' + red($hex) + green($hex) + blue($hex);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=#{$x}, OffY=#{$y}, Color='#{$iecolor}');
    -ms-filter: quote(progid:DXImageTransform.Microsoft.dropshadow(OffX=#{$x}, OffY=#{$y}, Color='#{$iecolor}'));
  }
}

// Gradient
@mixin linear-gradient($from, $to, $ie: $useIEFilters) {
  @if $ie != 1 { background-color: $to; }

  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $from),color-stop(1, $to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: linear-gradient(top, bottom, $from, $to);

  @if $ie == 1 {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
    -ms-filter: quote(progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}'));
  }
}

/* --------------------------------------------------- TRANSFORMATIVE MIXINS */

// Perspective
@mixin perspective($perspective) {
  -moz-perspective: $perspective;
  -ms-perspective: $perspective;
  -webkit-perspective: $perspective;
  perspective: $perspective;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

// Transform
@mixin transform ($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// Matrix Transform
@mixin matrix ($a, $b, $c, $d, $e, $f) {
  -moz-transform: matrix($a, $b, $c, $d, #{$e}px, #{$f}px);
  -o-transform: matrix($a, $b, $c, $d, $e, $f);
  -ms-transform: matrix($a, $b, $c, $d, $e, $f);
  -webkit-transform: matrix($a, $b, $c, $d, $e, $f);
  transform: matrix($a, $b, $c, $d, $e, $f);
}

// Rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// Scale
@mixin scale ($size) {
  @include transform(scale(#{$size}));
}

// Translate
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}

/* --------------------------------------------------- FILTER MIXINS */

// Filters. blur, grayscale, drop-shadow, sepia, brightness, contrast, hue-rotate, invert, saturate
@mixin filter ($filter, $percentage) {
  -webkit-filter: $filter($percentage);
  -moz-filter: $filter($percentage);
  filter: $filter($percentage);
}

/* --------------------------------------------------- ANIMATION MIXINS */

@mixin transition ($value) {
  -moz-transition: $value;
  -o-transition: $value;
  -ms-transition: $value;
  -webkit-transition: $value;
  transition: $value;
}

// Keyframes
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

/* --------------------------------------------------- MISC MIXINS */
