/* -------------------------------------------------------------- Main Menu */

.menu {

	.nav-primary {
		
		a {
			display: inline-block;
		}

		// Dropdown. You can remove this if there are no submenu items
		.nav-secondary {
			display: inline-block;
			position: relative;

			span {
				display: block;
				cursor: pointer;
			}

			.nav-dd {
				position: absolute;
				top: 100%;
				left: 0;
				// This is for basic dropdown functionality. You may want to change this for animations.
				display: none;

				a {
					display: block;
				}
			}

			&:hover {
				.nav-dd {
					display: block;
				}
			}
		}
		// end dropdown
	}
}

/* -------------------------------------------------------------- Breadcrumbs */
// You can remove this if there are no breadcrumbs.

.breadcrumbs {
	a {
		display: inline-block;
	}

	span {
		// Used for dividers. If you're using a border on the <a> you can remove this.
		display: inline-block;
	}
}
