/* -------------------------------------------------------------- High Level Page Elements */
// These are building blocks that could appear on any interior page.

.content {

	// Re-apply list styles for text content.
	ul {
		margin: 0 0 1.5em 2em;
		list-style: disc;

    li { margin: 0 0 1em; }
	}

	ol {
		margin: 0 0 1.5em 2em;
		list-style: decimal;
    
    li { margin: 0 0 1em; }
	}
}

.sidebar {

}

/* -------------------------------------------------------------- Page Specific Elements */
// These are elements related to page layout. Page-specific classes and containers can be included here.