/* -------------------------------------------------------------- Tablet Wide */

@media (max-width: 1224px) {
/* Start Landscape Tablet Styles */

body { font-size: 18px; }

.container {
	width: 960px;
}

/* End Landscape Tablet Styles */
}

/* -------------------------------------------------------------- Tablet Thin */

@media (max-width: 960px) {
/* Start Portrait Tablet Styles */

body { font-size: 16px; }

.container {
	width: 768px;
}

.g-1-2 {
	width: 100%;
	display: block;
}

.g-1-3 {
	width: 50%;
}

.g-2-3 {
	width: 50%;
}

.g-1-4 {
	width: 50%;
}

/* End Portrait Tablet Styles */
}

/* -------------------------------------------------------------- Mobile Wide */

@media (max-width: 768px) {
/* Start Mobile Styles */

body { font-size: 14px; }

.container {
	width: 320px;
}

.g-1-2 {
	width: 100%;
	display: block;
}

.g-1-3 {
	width: 100%;
	display: block;
}

.g-2-3 {
	width: 100%;
	display: block;
}

.g-1-4 {
	width: 100%;
	display: block;
}

/* End Mobile Styles */
}